body{
    height: auto;
}
.nav-item:hover{
    border-bottom: 2px solid white;
}
.navbar{
    height: 80px;
}
.div1{
    height: 700px;
    width: 100%;
    background-color: #1c1c54;
    background-image: url("./images/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#div2{
    height: 700px;
    width: 60%;
    float: left;
}
#div2>h1{
    margin-left: 170px;
    margin-top: 100px;
    font-size: 70px;
    color: white;
}
#div2>h4{
    margin-left: 170px;
    margin-top: 20px;
    color: white;
}
#div2>p{
    margin-left: 170px;
    margin-top: 20px;
    color: white;
}
#div2>input{
    margin-left: 170px;
    margin-top: 20px;
    width: 380px;
    height: 50px;
}
#div2>button{
    padding: 12px 20px;
    margin-left: 10px;
}
#div3{
    height: 700px;
    width: 40%;
    float: left;
}
.div4{
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: white;
}
.div4>h5{
    padding-top: 70px;
}
.div4>h1{
    padding-top: 20px;
}
.div4>p{
    padding-top: 20px;
    font-size: 18px;
    color: #4d4c4c;
}
.div5{
    height: 700px;
    width: 100%;
    background-color: #61dafb;
}
#div6>img{
    margin-left: 70px;
    /*padding-top: 100px;*/
}
#div6{
    height: 700px;
    width: 60%;
    float: left;
    background-color: white;
}
#div7{
    height: 700px;
    width: 40%;
    float: left;
    background-color: white;
}
#div7>h4{
    margin-left: 20px;
    padding-top: 80px;
}
#div7>h1{
    margin-left: 20px;
    padding-top: 20px;
}
#div7>p{
    margin-left: 20px;
    font-size: 18px;
    color: #4d4c4c;
    padding-top: 20px;
}
.div8{
    height: 600px;
    width: 100%;
    background-color: white;
}
#div9{
    height: 600px;
    width: 50%;
    float: left;
}
#div9>form>div>input{
    border: 2px solid black;
}
#div10{
    height: 600px;
    width: 50%;
    float: left;
}
#div10>img{
    padding-top: 50px;
}
.div11{
    height: 500px;
    width: 100%;
    margin-top: 100px;
    background-color: white;
}
#div12{
    height: 500px;
    width: 50%;
    float: left;
}
#div12>p{
    margin-left: 30px;
}
#div13{
    height: 500px;
    width: 50%;
    float: left;
}
#div13>p{
    margin-left: 30px;
}
.div14{
    height: 600px;
    width: 100%;
    background-image: url("./images/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div14>h1{
    color: white;
    margin-left: 100px;
    padding-top: 170px;
}
.div14>p{
    color: white;
    margin-left: 100px;
    padding-top: 20px;
}
.div14>button{
    margin-left: 100px;
    margin-top: 20px;
    padding: 12px 20px;
}
.div15{
    height: 500px;
    width: 100%;
    /*margin-top: 30px;*/
    text-align: center;
    color: white;
    background-color: #1c1c54;
}
.div15>h4{
    padding-top: 80px;
}
.div15>p{
    padding-top: 30px;
}
/*Footer*/
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #212529;
}

/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
body, html {
    height: 100%;
}